jupyterlab
requests
matplotlib
nltk
textdistance
textdistance[extras]
numpy
beautifulsoup4
sklearn
ipywidgets
datasets
seaborn
torch
gensim
regex
torchtext
spacy
jsonlines
pandas
transformers
tokenizers
fastai2
fastcore==1.0.0
simpleaudio
pydub
python_speech_features
sounddevice
ffprobe
librosa